article.inform {
	background-color: black;
	width: 80%;
	height: 80vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 20px;
	left: 10%;
	padding: 0px;
	margin: 0px;
	transition: 200ms left ease;
	z-index: 5;
}
article.inform.toSide {
	left: -80%;
}

article.inform h2 {
	background-size: 100% 100%;
	text-align: center;
	word-wrap: break-word;
	font: bolder 58px monospace;
	background-image: linear-gradient(cyan, red);
	color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}
article.inform p {
	color: white;
	text-align: center;
	font: bold 50px normal;
}
article.inform p i {
	color: yellow;
}
article.inform button {
	background-color: #444;
	display: block;
	color: cyan;
	font: bolder 50px normal;
	padding: 5px 20px 5px 20px;
	border-radius: 1em;
	transition: 250ms background-color linear;
	cursor: pointer;
	margin: 2px auto;
}

article.inform button:hover {
	background-color: red;
}
